*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color:  #A9D7E9;
    align-items: center;
}
.card{
    background-color:  #F3F3F3;
    width: 50%;
    margin-left: 25%;
    height: 200px;
    border-radius: 1em;
}
h1{
    font-size: 22px;
    text-align: center;
}
.content{
     line-height: 50px;
}
#input{
    width: 75%;
    margin-left: 3%;
    padding: 1%;
}
#submit{
    background-color: #198dbbc1;
    padding: 1%;
}
.lis{
  
    margin: 5%;
    padding: 1%;
    width: 80%;
}
.coch,
.delete{
    padding: 4%;
    top: -1%;
}
.coch,
.delete{
   float: right;
   margin-right: -8%;
}
.delete{
    margin-right: -15%;
}
